body{
    background-color: #ffe5cc;
}

.header{
    text-align: center;
    font-size: 45px;
    color: #ff8000;
}

.mila,.ham,.arroz{
    text-align: center;
    font-size: 35px;
    color: #cc6600;
}
