body{
    background-color: #ffe5cc;
}

.header{
    text-align: center;
    font-size: 45px;
    color: #ff8000;
}

.img1{
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-style: groove;
    border-width: 5px;
    border-color: #ff8000;
    flex: 1;
 }

    
.fila{
    display: flex;

   
}



  

